<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
</head>
<header>

      <img src="/img/ntua.png" style="display: block; margin: auto; width:9%; float: left;">
      <h3 style="text-align:right;">
        <a href="/home"> Home Page</a>
      </h3>
</header>

<body style="background-color:powderblue;">
    <h1 style="text-align:center;font-size:300%;">
        PROJECT SOFTENG 2021-2022 <br>
        TEAM 63
    </h1>


    <img src="/img/diodia3.jpg" style="width:50%;float: right;">
    <br>
    <h4>
        <p style="text-align:center; font-size:200%;"> Papanikolaou Ioannis 03118064</p>
        <p style="text-align:center; font-size:200%;"> M.A. 03118070</p>
        <p style="text-align:center; font-size:200%;"> A. C.-K. 03118102</p>

    </h4>
    <h3 style="text-align: center;">
        <a href="https://github.com/ntua/TL21-63"> OUR GITHUB</a>
    </h3>
</body>

</html>
