<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home Page 63</title>
</head>



<nav class="navbar">
    <div class="max-width">

        <a href="/home">
            <img src="/img/home1.png" alt="Home Page" style="width: 80px;height:80px; margin-left: 10px;">
            <img src="/img/ntualogo.png" style="width:70px; heigth: 70px;margin-left: 25px;">
        </a>

        <ul class="menu ">
            <li><a href="/pass/AO/2019-01-01/2019-01-31 " class="menu-btn ">PassesPerStation</a></li>
            <li><a href="/cost/OO/NE/2019-01-01/2019-01-31 " class="menu-btn ">PassCost</a></li>
            <li><a href="/analysis/OO/NE/2019-01-01/2019-01-31 " class="menu-btn ">PassesAnalysis</a></li>
            <li><a href="/chargesby/AO/2019-01-01/2019-01-31 " class="menu-btn ">Chargesby</a></li>
        </ul>

    </div>
</nav>
<header>



</header>

<body>
    <h1>
        PROJECT SOFTENG 2021-2022 <br> TEAM 63
    </h1>

    <img src="/img/diodia3.jpg " style="width:50%;float: right; ">
    <br>
    <h4>
        <p> Papanikolaou Ioannis 03118064</p>
        <p> Maniatis Andreas 03118070</p>
        <p> Andreas Chrysovalantis-Konstantinos 03118102</p>

    </h4>
    <h3 style="text-align: center; ">
        <a href="https://github.com/ntua/TL21-63 "> OUR GITHUB</a>
    </h3>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
    <a href="/help">Help Page with some notes</a>
</footer>

</html>