<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/test.css">

    <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <title>PassesPerStation</title>
</head>


<nav class="navbar">
    <div class="max-width">
        <div class="home"><a href="/home">Back to Base </a></div>
        <ul class="menu">
            <li><a href="/" class="menu-btn">PassesPerStation</a></li>
            <li><a href="#" class="menu-btn">PassCost</a></li>
            <li><a href="/analysis/OO/NE/2019-01-01/2019-01-31" class="menu-btn">PassesAnalysis</a></li>
            <li><a href="#" class="menu-btn">Chargesby</a></li>
        </ul>

    </div>
</nav>




<body>

    <div class="limiter">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
                <tr>
                    <td class="filterable-cell">Ford</td>
                    <td class="filterable-cell">Escort</td>
                    <td class="filterable-cell">Blue</td>
                    <td class="filterable-cell">2000</td>
                </tr>
            </tbody>
        </table>

</body>
<br>
<br>
<div id="bottom">
    <a href="bottom"></a>
</div>
<footer>
    <strong>Οδηγίες:</strong><br> Για άλλους operator και ενδεχομένος διαφορετικές ημερομηνίες, <strong>απαιτείται αλλαγή του url.</strong><br> Οι αποδεκτοί operator <i>AO,EG,GF,KO,MR,NE,OO</i><br> Οι ημερομηνίες εισαγόνται με την εξής μορφη <strong>αποκλειστικά</strong>    YYYY-MM-DD<br> Για παράδειγμα: <i> chargesby/AO/2020-12-15/2021-01-01 </i>
</footer>

</html>