* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: sans-serif;
    background-color: darkgoldenrod;
}

p {
    margin: 0px;
}


/* NAV STYLING  */

.navbar {
    position: sticky;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    background-color: darkgoldenrod;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .home a {
    color: crimson;
    font-size: 23px;
    font-weight: 600;
    margin-left: 15px;
}

.navbar .btn {
    color: black;
    font-size: 10px;
    font-weight: 600;
    margin-left: -750px;
    padding-top: 45px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 25px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 1366px;
    margin: 0 auto;
}

.container-table {
    width: 100%;
    min-height: 40vh;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table {
    width: 1170px;
}

.uptable {
    text-align: center;
}

[ Table]*/ .table {
    background-color: #fff;
}

table {
    width: 100%;
}

th,
td {
    font-weight: unset;
    padding-right: 10px;
}

tbody {
    text-align: center;
}

.column1 {
    width: 10%;
}

.column2 {
    width: 25%;
}

.column3 {
    width: 10%;
}

.column4 {
    width: 19%;
}

.column5 {
    width: 13%;
}

.table-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}


/*==================================================================
[ Fix header ]*/

.table {
    position: relative;
    padding-top: 60px;
}

.table-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table-body {
    max-height: 585px;
    overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: rgb(58, 58, 58);
    line-height: 1.4;
    background-color: #ffb049;
}

.table td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #3f3f3f;
    line-height: 1.4;
}


/*---------------------------------------------*/

.table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}