<!DOCTYPE html>
<html lang="en, el">

<link rel="stylesheet" href="css/main.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<header>
    <h1>PROJECT SOFTENG 2021-2022 <br>
        <a href="/about"> TEAM 63</a>
    </h1>
    <h3>Διαλειτουργικότητας στα διόδια
        αυτοκινητοδρόμων με διαφορετικά συστήματα αυτόματης διέλευσης.</h3>
</header>
<br>
<br>
<br>

<body>
    <div style="text-align: center;"> ΔΙΑΦΟΡΑ ENDPOINTS</div>
    <h2>
        <a href=/pass/AO/2019-01-01/2019-01-31>1) Επιστρέφεται λίστα με την ανάλυση των διελεύσεων (Passes) για τον
            σταθμό
            διοδίων και για την περίοδο που δίνονται στο URL</a><br>
        <hr style="border: 1px dashed black;">
        <a href=/analysis/OO/NE/2019-01-01/2019-01-31>2) Επιστρέφεται λίστα με την ανάλυση ανά σημείο των γεγονότων
            διέλευσης που πραγματοποιήθηκαν με tag του op2_ID σε σταθμούς του op1_ID.</a><br>
        <hr style="border: 1px dashed rgb(24, 24, 24);">
        <a href=/cost/OO/NE/2019-01-01/2019-01-31>3) Επιστρέφεται ο αριθμός των γεγονότων διέλευσης που
            πραγματοποιήθηκαν
            με tag του op2_ID σε σταθμούς του op1_ID, καθώς και το κόστος τους, δηλαδή το ποσό που ο op2_ID
            οφείλει
            στον op1_ID, για τη δοσμένη περίοδο</a><br>
        <hr style="border: 1px dashed black;">
        <a href=/chargesby/AO/2019-01-01/2019-01-31>4) Επιστρέφεται ο αριθμός των γεγονότων διέλευσης που
            πραγματοποιήθηκαν
            σε σταθμούς του op_ID,
            από οχήματα όλων των άλλων operators, καθώς και το κόστος τους, δηλαδή το ποσό που καθένας
            από τους λοιπούς operators οφείλει στον Operator op_ID, για τη δοσμένη περίοδο</a><br>
        <hr style="border: 1px dashed black;">

    </h2>
</body>
<br><br><br><br><br><br>
</html>
